[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "themes/VIANNA"]
	path = themes/VIANNA
	url = https://github.com/DandyDev/pelican-bootstrap3.git
