/* This file defines the additional styles (that sometimes overwrite
   the bootstrap3 styles) to customize the VIANNA website.

   Copyright © 2019 the VIANNA research institute

   The MIT License (MIT)
   Permission is hereby granted, free of charge, to any person obtaining a copy
   of this software and associated documentation files (the “Software”), to deal
   in the Software without restriction, including without limitation the rights
   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
   copies of the Software, and to permit persons to whom the Software is
   furnished to do so, subject to the following conditions:

   The above copyright notice and this permission notice shall be included in
   all copies or substantial portions of the Software.

   THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
   SOFTWARE.
*/

/* Tweak the body bg color and font size (slightly larger than bootstrap3) */
body {
    font-size: 16px;
    background-color: #EDEAE6;
    padding-top: 90px;
}

/* Links in the main content area */
.entry-content a, .entry-content a:hover {
  border-color: #AAA;
}

/* The top bar with the menu */
.navbar-default {
    background-color: rgba(120,110,100,.96);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    font-size: 20px;
    border: none;
    border-top: 15px solid #F03C14; /* The red bar at the very top */
}

.navbar-default .navbar-nav > li > a,
.navbar-brand {
    color: #FFF !important; /* White text in menu bar*/
}

/* Entry in the dropdown under the mouse */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #C5BFB6;
}

/* The main menu entry while hovered in the sub-menu */
.dropdown:hover,
.navbar-nav li:hover,
.navbar-brand:hover {
    background-color: #B1AA9E !important;
    border: none;
}

/* Dropdown menu general background */
.dropdown-menu {
    background-color: #B1AA9E;
    border: none;
}

/* A multi-purpose box (e.g. used for the right side) */
.well {
  background-color: #D9D5CD;
  border-color: #C5BFB6;
}

/* The about-me image */
#aboutme .img-thumbnail {
  background-color: transparent;
  border: none;
}

/* The horizontal line */
hr {
  border-top: 1px solid #C5BFB6;
}

/* Text block, often used in Markdown */
pre {
    background-color: #f8f5f1;
    border: 1px solid #C5BFB6;
    display: inline-block; /* don't span whole width, only as much as needed */
}

/* Indentation of lists */
ul {
  padding-left: 20px;
  padding-bottom: 10px;
}

/* Adjusting the sizes of the smaller headings ... */
h3,
.h3 {
  font-size: 20px;
}
h4,
.h4 {
  font-size: 16px;
}
h5,
.h5 {
  font-size: 12px;
}
h6,
.h6 {
  font-size: 11px;
}

/* Main text justified */
.entry-content p {
  text-align: justify;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-brand>img {
    display: inline-block;
}

.image-bg-fluid-height {
    padding: 100px 0;
}

.image-bg-fixed-height {
    background: url('../images/img02.JPG') no-repeat center center scroll;
    height: 450px;
}

.img-center {
    margin: 0 auto;
}

.center img {        
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.panel-body {
  padding: 5px;
}

.panel {
    background-color: #D9D5CD;
}

.entry-title,
.page-header {
    font-size: 3em;
    margin: 30px 0 10px;
    border-bottom: none;
}

/*.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}*/

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .entry-title {
        font-size: 2em;
    }
}



/**** iframe *****************************************************************/
iframe {
    box-shadow: 0 2px 4px #999;
}

/**** Tables *****************************************************************/
table {
    border-collapse: collapse;
    padding: 0;
    margin-bottom: 2em;
    border-spacing: 0;
    box-shadow: 0 2px 4px #999;
    width: 100%;
}
table th {
    background-color: #D9D5CD; }
table tr {
    background-color: #EDEAE6;
    margin: 0;
    padding: 0; }
table td, table th {
    padding: .2em 1em; }
table tr th,table tr td {
    margin: 0;
    padding: 0.5em 1em; }


/* Tables inside of an element of class `borderless` have no border/shadow */
.borderless table,
.borderless table tr th,
.borderless table tr td {
    border: 0 !important;
    box-shadow: none;
}

.borderless th {
    border: 0 !important;
    background: transparent !important;
}

/* class that hides an element (honey pot for spam bots) */
.very_important {
   display: none;
}

